In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import matplotlib.animation as animation

In [5]:
LTS = pd.read_csv('listings.csv', delimiter = ',', header = 0)
NBH = pd.read_csv('neighbourhoods.csv', delimiter = ',', header = 0)
REW = pd.read_csv('reviews.csv', delimiter = ',', header = 0)

In [6]:
CAL = pd.read_csv('calendar.csv.gz', delimiter = ',', header = 0, low_memory=False)
LTS_GZ = pd.read_csv('listings.csv.gz', delimiter = ',', header = 0, low_memory=False)
REW_GZ = pd.read_csv('reviews.csv.gz', delimiter = ',', header = 0, low_memory=False)

In [7]:
NBH_J= pd.read_json('neighbourhoods.geojson', lines=True)

In [8]:
pd.set_option('display.max_columns', None)

In [14]:
pd.set_option('display.max_rows', 50)

In [21]:
LTS.drop(columns=['neighbourhood_group','last_review'],inplace=True)

KeyError: "['neighbourhood_group' 'last_review'] not found in axis"

In [22]:
LTS

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,3663,Classic Rowhouse: Porch+ART+Parking,4617,Shawn & Richard,"Brightwood Park, Crestwood, Petworth",38.95888,-77.025540,Entire home/apt,154,3,41,0.35,2,117
1,3670,Beautiful Sun-Lit U Street 1BR/1BA,4630,Sheila,"Howard University, Le Droit Park, Cardozo/Shaw",38.91842,-77.027500,Private room,75,2,79,1.25,1,0
2,3686,Vita's Hideaway,4645,Vita,Historic Anacostia,38.86314,-76.988360,Private room,55,2,72,0.62,2,365
3,3771,Mt. Pleasant,4795,Charlene,"Columbia Heights, Mt. Pleasant, Pleasant Plain...",38.92760,-77.039260,Private room,88,1,1,0.01,1,0
4,4002,2 Bedroom Private Condo Suite (Basement Apt),5143,Anthony,"North Michigan Park, Michigan Park, University...",38.94008,-76.989360,Entire home/apt,120,2,149,1.08,1,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9143,43505599,★Cozy & Spacious 2BR House ★ Free Parking ★,23714240,Nana,"Woodridge, Fort Lincoln, Gateway",38.93647,-76.976350,Entire home/apt,150,1,0,NaN,9,174
9144,43506374,Escape from the City in a Studio,347008743,Sydney,"Brookland, Brentwood, Langdon",38.91991,-76.980410,Entire home/apt,55,1,0,NaN,1,55
9145,43517424,H Street Corridor,92781477,Donna,"Ivy City, Arboretum, Trinidad, Carver Langston",38.90160,-76.987470,Entire home/apt,50,1,0,NaN,4,15
9146,43518786,Unique home for long stay. You know if you know,33290388,Benoit,"Dupont Circle, Connecticut Avenue/K Street",38.91826,-77.037860,Entire home/apt,120,90,0,NaN,1,165
9147,43520275,Beautiful English Basement apartment,347219014,Karina,"Dupont Circle, Connecticut Avenue/K Street",38.90660,-77.036631,Private room,80,1,0,NaN,1,45

In [24]:
NBH.drop(columns=['neighbourhood_group'],inplace=True)

In [25]:
REW

        listing_id        date
0             3663  2010-09-15
1             3663  2010-10-16
2             3663  2010-10-24
3             3663  2010-11-03
4             3663  2011-03-11
...            ...         ...
355262    43336077  2020-05-10
355263    43336077  2020-05-19
355264    43415299  2020-05-15
355265    43415299  2020-05-18
355266    43416056  2020-05-18

[355267 rows x 2 columns]

In [59]:
REW.date.max

'2020-05-23'

In [2]:
LTS

NameError: name 'LTS' is not defined